/*登录条*/
.login .center {
  margin-left: 190px;
}
.login .center div.left {
  left: 301px;
}
/*登录条*/
/*页面*/
.content {
  padding-top: 140px;
}
.content h3 {
  font: 16px/30px "微软雅黑";
  background: #cee77c;
  padding-left: 20px;
  color: #fff;
  width: 774px;
  margin-left: 92px;
}
.content em {
  font: 16px/100px "微软雅黑";
  display: block;
  text-align: center;
  color: #6f7997;
}
.content ul {
  width: 794px;
  margin-left: 92px;
}
.content ul li {
  border-bottom: 1px solid #d5d5d5;
}
.content ul li ol li {
  float: left;
  border-bottom: none;
}
.content ul li ol li.left {
  width: 75px;
  text-align: center;
  padding-top: 10px;
}
.content ul li ol li.left span {
  display: inline-block;
  width: 75px;
  height: 75px;
  background: #9cca0e;
  border-radius: 8px;
}
.content ul li ol li.left p {
  padding: 10px 0;
  font: 14px/1 "微软雅黑";
  color: #6f7997;
}
.content ul li ol li.right {
  width: 718px;
}
.content ul li ol li.right div {
  height: 89px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  font: 14px/1 "微软雅黑";
  color: #6f7997;
}
.content ul li ol li.right p {
  text-align: right;
  color: #6f7997;
  margin-top: 10px;
  font: 14px/1 "微软雅黑";
}
.content ul li ol li.right p i {
  cursor: pointer;
  padding: 0 5px;
}
.content ul li ol li.right p b {
  padding: 0 5px;
}
.content ul li ol li.right p b.space {
  padding-right: 50px;
}
.content ul li ol li.right p span {
  padding: 0 5px;
}
.content ul li ol li.right p a {
  color: #6f7997;
}
.content .mess {
  padding-bottom: 40px;
}
.content .mess h3 {
  background: url(../img/message.png) no-repeat;
  width: 856px;
  height: 143px;
  margin-left: 61px;
}
.content .mess div {
  width: 856px;
  height: 293px;
  margin-left: 61px;
  background: #de3168;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
}
.content .mess div textarea {
  display: block;
  width: 670px;
  height: 116px;
  margin: 80px 93px 10px;
  font: 14px/18px "微软雅黑";
  box-sizing: border-box;
  padding: 10px;
  color: #6f7997;
}
.content .mess div p {
  text-align: right;
  padding-right: 94px;
}
.content .mess div p span {
  color: #fff;
}
.content .mess div p a {
  display: inline-block;
  width: 75px;
  height: 30px;
  line-height: 30px;
  color: #de3168;
  background: #fff;
  text-align: center;
  margin-left: 10px;
}
.content .mess div p input {
  width: 210px;
  height: 30px;
  line-height: 30px;
  font: 14px/30px "微软雅黑";
  color: #6f7997;
  padding: 0 10px;
}
.content .mess div p span {
  padding: 0 10px;
}
/*页面*/
